footer {
  border-top: 1px solid var(--border-color);
  margin-top: 40px;
}
.footer {
  display: flex;
  position: relative;
  max-width: var(--max-width-screen);
  font-size: 0.8rem;
  padding: 30px 20px;
  color: var(--primary-color);
  margin: auto;
  gap: 20px;
}
.left-foot {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 0.8rem;
}
.left-foot svg {
  width: 12px;
  display: flex;
  align-items: flex-end;
  fill: var(--primary-color);
}
.right-foot a {
  color: var(--primary-color);
}
