header {
  padding: 20px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}
.logo {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-primary-color);
}
.logo svg {
  width: 35px;
  fill: var(--primary-color);
  transform: rotate(45deg);
}
.logo-background {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}
.nav-menu ul li a {
  color: var(--text-primary-color);
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-menu ul li a:hover {
  color: var(--primary-color);
}
