.who-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.who-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    min-width: 260px;
    padding: 20px;
    border-radius: 12px;
}
.who-item svg {
    width: 40px;
    padding: 8px;
    border-radius: 8px;
}
.icon-green {
    color: green;
    background-color: rgb(204, 244, 204);
}
.icon-red {
    fill: rgb(214, 13, 13);
    background-color: rgb(250, 191, 191);
}
