/* Hero section */
.hero-section {
  margin: auto;
  max-width: var(--max-width-screen);
}
.hero-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0em auto 3em auto;
}
.hero-content {
  margin-bottom: 6rem;
  margin-top: 10rem;
  display: flex;
  width: 60rem;
  text-align: center;
  flex-direction: column;
  gap: 90px;
  text-wrap: balance;
  padding: 0 20px;
}
.badge {
  font-size: 0.8em;
  display: inline-block;
  color: var(--primary-color);
  margin-bottom: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  padding: 8px 16px;
}
#homepage .hero-section h2 {
  font-size: 3rem;
  line-height: 1.2;
}
.hero-content p {
  color: var(--text-secondary-color);
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 1.1rem;
}

.hero-gallery {
  display: flex;
  gap: 30px;
  padding: 0 20px;
}

.hero-img {
  opacity: 0.8;
  max-width: 20rem;
}
.hero-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3/4;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Info section */
.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Features section */

.features-section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
}
.feature-item h3 {
  color: var(--primary-color);
}
.feature-item ul {
  padding-left: 1.5rem;
  margin-left: 0;
}
.feature-item {
  max-width: 250px;
  line-height: 2.5rem;
  color: var(--text-secondary-color);
}

/* Customer section */

.customer-section p:last-child {
  text-align: center;
  max-width: 600px;
  margin: 3rem auto 0 auto;
  font-size: 0.9rem;
  color: var(--text-secondary-color);
}
.customer-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 1rem 0;
}

/* Pricing section */

.pricing-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 60px;
}
.pricing-section h2 {
  font-size: 1.6em;
  color: var(--text-primary-color);
}
.pricing-section h2,
.pricing-section p {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
}
.pricing-section p {
  color: var(--text-secondary-color);
  font-size: 1.1rem;
  color: var(--text-secondary-color);
}
.pricing-card {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  width: 100%;
}
.pricing-card svg {
  width: 20px;
  height: 20px;
  padding: 4px;
  color: var(--text-primary-color);
  background: var(--background);
  display: flex;
  flex-direction: column;
  border-radius: 50%;
}
.pricing-card-head {
  padding: 20px 0px;
}
.pricing-card-head span:first-child {
  font-size: 2rem;
  font-weight: 500;
}
.pricing-card-body {
  display: flex;
  flex-direction: column;
}
.pricing-card-body span {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0px;
}

/* Contact section */

.contact-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.25rem;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  justify-self: center;
  width: 100%;
}
.h3 {
  font-size: 1.1rem;
  margin-bottom: 0em;
}
