.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 60px;
}
.pricing-container h2 {
  font-size: 1.6em;
  color: var(--text-primary-color);
}
.pricing-container h2,
.pricing-container p {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
}
.pricing-container p {
  color: var(--text-secondary-color);
  font-size: 1.1rem;
  color: var(--text-secondary-color);
}
.pricing-card {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  width: 100%;
}
.pricing-card svg {
  width: 20px;
  height: 20px;
  padding: 4px;
  color: var(--text-primary-color);
  background: var(--background);
  display: flex;
  flex-direction: column;
  border-radius: 50%;
}
.pricing-card-head {
  padding: 20px 0px;
}
.pricing-card-head span:first-child {
  font-size: 2rem;
  font-weight: 500;
}
.pricing-card-body {
  display: flex;
  flex-direction: column;
}
.pricing-card-body span {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding: 10px 0px;
}
