.full-background {
  padding: 80px 20px;
  margin: 0 auto;
  max-width: 100%;
}
.highlight {
  color: var(--primary-color);
  position: relative;
}
.m-auto {
  margin: auto;
}
.max-width-400 {
  max-width: 400px;
}
.text-center {
  text-align: center;
}
.mt-2 {
  margin-top: 2rem;
}
.ml-1 {
  margin-left: 1rem;
}
