@media (max-width: 768px) {
   .info-container, .testimonial-container  {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .grid-1,
    .grid-2,
    .grid-3 {
        grid-area: auto; /* Réinitialise le placement */
    }

}