@media (max-width: 768px) {
  .grid-section,
  .contact-section,
  .grid-form-fields,
  .grid-hero-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .form-fields:nth-of-type(1),
  .info-card:nth-of-type(1),
  .form-fields:nth-of-type(2),
  .info-card:nth-of-type(2),
  .form-fields:nth-of-type(3),
  .info-card:nth-of-type(3),
  .form-fields:nth-of-type(4) {
    grid-area: auto;
  }
  .nav-menu {
    display: none;
  }
  .customer-items {
    justify-content: flex-start;
  }
  .pricing-card,
  .feature-item {
    width: 100%;
    max-width: 100%;
  }
  .h2,
  .subtitle {
    text-align: left;
  }
  .container,
  .full-background {
    padding: 20px;
  }
  .subtitle {
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
  .pricing-section {
    gap: 20px;
    justify-content: flex-start;
  }
  .customer-section p:last-child {
    text-align: left;
    margin: 2rem 0 0 0;
    max-width: 100%;
  }
  .pricing-card:last-child {
    max-width: 400px;
  }
  .hero-section {
    margin: 1em auto;
  }
  .accordion-header h3 {
    font-size: 1rem;
  }
}

/*  < 1400px — Homepage carousel */
@media (max-width: 1043px) {
  .hero-gallery {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    gap: 0;
    width: 100%;
    margin-right: 0;
  }
  .hero-content {
    width: 100%;
    margin-top: 6rem;
  }

  .hero-gallery::-webkit-scrollbar {
    display: none;
  }

  .hero-gallery > .hero-img {
    flex-shrink: 0;
    scroll-snap-align: start;
    padding: 20px 0 20px 20px;
  }
  .grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/* Tablet carousel */
@media (max-width: 1040px) and (min-width: 768px) {
  .hero-gallery > .hero-img {
    width: 20rem;
  }
}

/* Mobile carousel */
@media (max-width: 767px) {
  .hero-content {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .hero-gallery > .hero-img {
    width: 20rem;
  }
  .hero-gallery {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .hero-content {
    text-align: left;
  }

  #homepage .hero-section h2 {
    font-size: 2rem;
    text-align: left;
    line-height: 1.2;
  }
  #homepage .hero-section p {
    text-align: left;
  }
  .logo-text {
    display: none;
  }
  .grid-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
