:root {
    --primary-color: #a6a4ac;
    --secondary-color: #A5B68D;
    --background-color: #ededed;
    --color-badge: #FCFAEE; 
    --max-width-screen: 1200px; 
    --text-primary-color: #333;
    --text-secondary-color: #555555;
    --border-color: #DDD;

}