:root {
  --primary-color: darkolivegreen;
  --secondary-color: rgb(213, 232, 180);
  --background: #f8f6f4;
  --background-icon: #ededed;
  --max-width-screen: 1200px;
  --text-primary-color: #333;
  --text-secondary-color: #555555;
  --border-color: #ddd;
}
