.accordion {
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}
.accordion-header {
    cursor: pointer;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0px;
    border-bottom: 1px solid var(--border-color);
}
.accordion-header.active {
    border-bottom: none;
}
.accordion-header::after {
    content: "+";
    font-size: 1.5rem;
    color: var(--primary-color);
}
.accordion-header.active::after {
    content: "−";
}
.accordion-content {
    display: none;
    line-height: 1.5;
    color: var(--text-secondary-color);
}
.accordion-content.show {
    display: block;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 15px;
}
