.accordion {
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
}
.accordion-header {
  cursor: pointer;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 0px;
}
.accordion-header.active {
  border-bottom: none;
}
.accordion-header::after {
  content: "+";
  font-size: 1.5rem;
  color: var(--primary-color);
}
.accordion-header.active::after {
  content: "−";
}
.accordion-content {
  line-height: 1.5;
  overflow: hidden;
  color: var(--text-secondary-color);
  transition: max-height 0.5s ease;
  max-height: 0;
}
