.card {
  padding: 50px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: #fff;
}
.card h3 {
  margin-bottom: 15px;
  font-size: 1.2em;
  color: var(--text-primary-color);
}
.card p {
  font-size: 1em;
  color: var(--text-secondary-color);
  line-height: 1.6;
}
